@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  --bakground: #2F2F2F;
  --yellow: #F8E400;
  --purple: #7C00FE;
  --white: #FFFFFF;

}
::selection {
  background: var(--purple); /* Background color of the selection */
  color: var(--white); /* Text color of the selection */
}

/* For webkit browsers */
::-webkit-selection {
  background: var(--purple); /* Background color of the selection */
  color: var(--white); /* Text color of the selection */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bakground);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
}
.app-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: scroll;
  height: calc(100vh - 60px);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
}


.app-content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;

}
.columns-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  width: auto; /* Adjust width based on content */
  height: auto; /* Adjust height based on content */
}
.column {
  color: var(--white);
  flex-grow: 0;
  width: 340px;
  height: auto;
  border-radius: 10px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}
.column-placeholder {
  color: var(--white);
  flex-grow: 0;
  width: 340px;
  height: 300px;
  border-radius: 10px;
  background-color: #3d3d3d;
}
.column .column-title {
  background-color: #2F2F2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 10px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.column .column-title .drag-icon {
  height: 40px;
  width: auto;
  cursor: move;
}
.column .column-title .drag-tite-wrapper {
  display: flex;
  align-items: center;
}
.column .column-title input {
  all: unset;
  overflow: hidden;
  font-size: 18px;
}
.column .column-title h3 {
  color: var(--white);
  font-size: 18px;
  cursor: pointer;
  max-width: 50pxt;
  overflow: hidden;
}
.column .column-title .edit-delete-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.column .column-title .edit-delete-wrapper .delete-icon {
  height: 30px;
}
.column .column-title .edit-delete-wrapper .edit-icon {
  height: 30px;
  
}
.column .column-title .edit-delete-wrapper button {
  all: unset;
  cursor: pointer;
}
.column .column-content {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;

}
.column .column-content::-webkit-scrollbar {
  display: none;
}
.task {
  display: flex;
  justify-content: space-between;
  background-color: var(--bakground);
  padding: 10px;
  padding-left: 5px;
  width: 300px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  cursor: pointer;
}
.task-placeholder{
  display: flex;
  justify-content: space-between;
  background-color: var(--bakground);
  padding: 10px;
  padding-left: 5px;
  width: 300px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  cursor: pointer;
}
.task .delete-task-btn {
  all: unset;
  width: 30px;
  height: auto;
  cursor: pointer;

}

.task textarea {
  min-height: 16px;
  height: auto;
  width: 100%;
  border-style: none; 
  border-color: Transparent;
  outline: none;
  color: var(--white);
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
 .task .drag-icon {
  width: 35px;
  height: auto;
}
.task .drag-task-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.task .drag-task-wrapper p {
  word-wrap: break-word;
  max-width: 230px;
  color: var(--white);
  
}
.add-column-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  
}
.column .add-task{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
}
.column .add-task .add-task-btn {
 all: unset;
 display: flex;
 align-items: center;
 cursor: pointer;
 gap: 5px;

}
.add-column {
  all: unset;
  background-color: var(--purple);
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  max-height: 20px;
  margin-right: 60px;
  

}

.plus-icon {
  height: 30px;
  width: auto;
}
